# servers ip:port
#host=192.168.1.210:26486, House 3
#host=192.168.1.220:26486, House 4
#host=192.168.1.230:26486, House 5

# commands to query for
# value name, command payload in hex, response bytes including packaging
# temperature degree celcius
comm=Outdoor temperature C,ff1ec804b603020c,0
comm=Extract air temperature C,ff1ec804b6030212,0
comm=Exhaust air temperature C,ff1ec804b603021be4,0
#0000                    3cff1ec804b603021be4813e

#comm=Supply temperature C,ff1ec804b603020f,0
#0000   3c ff 1e c8 04 b6 03 02 0f 95 3e

# pressure Pa pascal
comm=Extract air fan pressure Pa,ff1ec804b6030224,0

# Controller output in %
comm=Controller output %,ff1ec804b6030f0c,0
#0000   3c ff 1e c8 04 b6 03 0f 0c 9b 3e

# Ventilation mode 0-5, 0=off, 5=operating normaly, 11 turning off
comm=Ventilation mode,ff1ec80434030809,1
#0000   3c ff 1e c8 04 34 03 08 09 1b e4 3e

# config file needs a new line \n

